@media(max-width: 770px)
{
    body
    {
        max-width: 1900px;
    }

    /*HEADER*/
    
    header
    {
        height: 10vh;
    }

    header a, header nav
    {
        display: none;
    }

    header .logo
    {
        margin: 10px 0;
    }

    header .hamburguer 
    {
        display: inline-block;
        padding: 20px 0px 20px 200px;
    }
      
    .bar1, .bar2, .bar3 
    {
        width: 35px;
        height: 5px;
        background-color: #fbebc9;
        margin: 6px 0;
    }
      
    .closeButton .bar1 
    {
        transform: translate(0, 5px) rotate(-44deg);
    }
      
    .closeButton .bar3 
    {
        transform: translate(0, -5px) rotate(45deg);
    }

    .closeButton
    {
        position: absolute;
        top: 45px;
        right: 30px;
    }

    .overlay 
    {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b84218;
        z-index: 2;
        padding: 0px 0px 0px; /* Ajuste conforme necessário */
        box-sizing: border-box;
        font-family: NexaFont;
        font-weight: bold;
    }

    .overlay.active 
    {
        display: block; /* Mostra o overlay quando a classe 'active' é adicionada */
    }

    .overlay a 
    {
        display: block;
        padding: 30px 20px;
        font-size: 18px;
        color: #fbebc9;
        text-decoration: none;
        font-family: ChildrenSans;
        font-size: 25px;
        text-align: center;
    }

    .overlayButtons
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .canal
    {
        margin: 10px;
        padding: 5px;
        width: 50px;
        height: 40px;
    }

    .overlay .canal
    {
        padding: 22px 15px;
    }

    /*BANNER*/
    .banner
    {
        height: 100%;
    }

    .banner .BannerAlt
    {
        display: none;
    }

    .banner .BannerCelular
    {
        display: flex;
        height: 190px; 
    }

    /*ERAS*/

    .h3PC
    {
        display: none;
    }

    .h3CELL, .h4CELL
    {
        display: block;
    }
    
    .Era1
    {
        padding: 0px;
    }

    .Era1Conteudo
    {
        padding: 10px;
        width: 350px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era1 img
    {
        padding: 20px 0px 10px;
        width: 150px;
        height: 150px;
    }

    .Era1Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era1Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    .Era2
    {
        padding: 0px;
    }

    .Era2Conteudo
    {
        padding: 10px;
        width: 350px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era2 img
    {
        width: 150px;
        height: 150px;
    }

    .Era2Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era2Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    .Era3
    {
        padding: 0px;
    }

    .Era3Conteudo
    {
        padding: 10px;
        width: 350px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era3 img
    {
        width: 150px;
        height: 150px;
    }

    .Era3Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era3Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    .Era4
    {
        padding: 0px;
    }

    .Era4Conteudo
    {
        padding: 10px;
        width: 350px;
        padding: 10px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era4 img
    {
        width: 150px;
        height: 150px;
    }

    .Era4Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era4Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    .Era5
    {
        padding: 0px;
    }

    .Era5Conteudo
    {
        padding: 10px;
        width: 350px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era5 img
    {
        width: 150px;
        height: 150px;
    }

    .Era5Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era5Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    .Era6
    {
        padding: 0px;
    }

    .Era6Conteudo
    {
        padding: 10px;
        width: 350px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era6 img
    {
        width: 150px;
        height: 150px;
    }

    .Era6Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era6Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    .Era7
    {
        padding: 0px;
    }

    .Era7Conteudo
    {
        padding: 10px;
        width: 350px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Era7 img
    {
        width: 150px;
        height: 150px;
    }

    .Era7Others
    {
        justify-content: center;
        width: 330px;
        padding-bottom: 0px;
    }

    .Era7Text
    {
        width: 310px;
        text-align: center;
        padding: 10px;
    }

    /*FOOTER*/

    .redesSociais .title
    {
        padding: 10px;
    }

    .redesSociais
    {
        width: 300px;
    }

    .redesSociais a
    {
        height: 35px;
    }

    .redesSociais img
    {
        height: 35px;
        width: 35px;
    }

    footer .buttons
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .buttons a
    {
        padding: 10px;
    }
}