.banner
{
    margin: auto;
    max-width: 1900px;
    min-width: 360px;
    max-height: 450px; 
    height: 400px;
    min-height: 100px;
}

.BannerAlt
{
    max-height: 450px;
    height: 400px;
    min-height: 100px;
}

.BannerCelular
{
    display: none;
}