@import url(../Inicio/header.css);
@import url(../Inicio/banner.css);
@import url(../Inicio/sobre.css);
@import url(../Inicio/membros.css);
@import url(../Inicio/destaque.css);
@import url(../Inicio/footer.css);
@import url(../Inicio/responsivo.css);


@font-face {
    font-family: PhantomStorm;
    src: url(../Fonts/PhantomStorm.ttf);
}

@font-face {
    font-family: SeasonPrime;
    src: url(../Fonts/SeasonPrime.otf);
}

@font-face {
    font-family: ComicNeue;
    src: url(../Fonts/ComicNeueSansID.ttf);
}

@font-face {
    font-family: ChildrenSans;
    src: url(../Fonts/ChildrenSans.ttf);
}

@font-face {
    font-family: BlackFire;
    src: url(../Fonts/BlackFire.ttf);
}

@font-face {
    font-family: Technovia;
    src: url(../Fonts/Technott.ttf);
}

*
{
    margin: 0;
    padding: 0;
}