@import url(../Membros/header.css);
@import url(../Membros/banner.css);
@import url(../Membros/cards.css);
@import url(../Membros/footer.css);
@import url(../Membros/responsivo.css);

@font-face {
    font-family: PhantomStorm;
    src: url(../Fonts/PhantomStorm.ttf);
}

@font-face {
    font-family: SeasonPrime;
    src: url(../Fonts/SeasonPrime.otf);
}

@font-face {
    font-family: ComicNeue;
    src: url(../Fonts/ComicNeueSansID.ttf);
}

@font-face {
    font-family: ChildrenSans;
    src: url(../Fonts/ChildrenSans.ttf);
}

*
{
    margin: 0;
    padding: 0;
}